@media (max-width: 48em) {
  .locationList{
    height:40vh!important;
    margin-bottom:20px;
  }
}

.locationList{
  height:85vh;
  overflow:auto;
}

.forecastTitle{
  color:white;
  text-align: center;
  padding:10px 0;
}
